// Principales
$primary-color :#9356DC;
$second-color : #FF79DA;
$third-color : #99E2D0;

// backgrounds

$main-color : #D2D2D2;
$town-color: #EAEAEA;
$carte-color:#FFFFFF;

// footer
$footer-color : #353535;
$police-color : #FFFFFF;

// Font variables
$title:'Shrikhand';
$text:'Roboto';

// mise en page cards

$border-cards: 15px;
$color-cards : #F7F7F7;
$border-image : 15px 15px 0 0;

// variables police
$size-title: 24px;
$weight-title : 700;
$black-color:#000000