// Principales
$primary-color :#9356DC;
$second-color : #FF79DA;
$third-color : #99E2D0;

// backgrounds

$main-color : #D2D2D2;
$town-color: #EAEAEA;

// footer
$footer-color : #353535;
$police-color : #FFFFFF;

// Font variables
$title:'Shrikhand';
$text:'Roboto';

// mise en page cards

$border-cards: 15px;
$color-cards : #FFFFFF;