@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.town {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  font-family: "Roboto";
}

h1 {
  font-weight: 700;
}

/* Layout information */
.information {
  width: 100%;
  padding-bottom: 57px;
  background-color: #F7F7F7;
}
.information__title {
  font-size: 24px;
  width: 73%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}
.information__txt {
  width: 84%;
  text-align: center;
}

.information__button {
  margin-top: 27px;
}

.main {
  background-color: #D2D2D2;
}

body {
  font-family: "Roboto";
}

button {
  border-radius: 25px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(348deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: 0;
  transition: transform 400ms;
}
button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.8;
  transition-property: all;
  transition-duration: 1s;
}

.information__button a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.btn__order p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.header-logo {
  height: 36px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

header img {
  width: 162px;
}

.town {
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  margin-top: 3px;
  text-align: center;
}

.town i {
  padding-right: 17px;
  width: 100%;
}

/* Layout container Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #F7F7F7;
  margin-top: 54px;
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  margin-left: 25px;
  margin-top: 20px;
}

.card__restaurants {
  width: 100%;
}

.card__content {
  margin: 18px;
  height: 251px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.card a {
  width: 90%;
  height: 231px;
  text-decoration: none;
  color: #000000;
}

.card__image img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-left: 13px;
}

.card__name h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card__txt {
  font-weight: 300;
}

@media (min-width: 769px) {
  .card {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 700px;
  }
  .card__title {
    width: 100%;
  }
  .card__restaurants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 55px;
  }
  .card__restaurants a {
    width: 34%;
    margin: 20px;
    height: 251px;
  }
  .card__title {
    margin-left: 380px;
  }
}
/**** New ****/
.card__image {
  position: relative;
}

.new {
  position: absolute;
  color: #008766;
  width: 80px;
  height: 29px;
  bottom: 150px;
  right: 40px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animation heart */
.card__heart {
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.card__heart i {
  position: absolute;
}

.my-heart-full {
  transition-property: all;
  transition: all;
  transition-duration: 1s;
  opacity: 0;
}

.my-heart-full:hover {
  display: inline-block;
  opacity: 1;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Layout footer*/
footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 25px;
  list-style-type: none;
}

.footer__logo {
  color: #FFFFFF;
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2px;
}

.footer__text .fa-solid {
  padding-right: 6px;
}

.footer__text a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 1025px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .footer__logo {
    order: 4;
    font-size: 18px;
    margin: 17px 20px 0 65px;
  }
  .footer__content {
    margin-right: 34px;
  }
  .footer__text {
    margin: 10px;
    padding-top: 35px;
  }
  .footer__texts {
    margin: 8px;
    padding-top: 35px;
  }
}
/* Layout functioning */
.functioning {
  margin-top: 30px;
}
.functioning__title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.functioning__content {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.functioning__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #F7F7F7;
  width: 265px;
  margin: 25px 20px 5px 32px;
}

.functioning__subtitle {
  margin-right: 7px;
}

.functioning__icone .my-store {
  margin: 10px;
  width: 15px;
  height: 15px;
  color: #9356DC;
}

.functioning__icone .icone-menu {
  margin: 17px;
  width: 15px;
  height: 15px;
}

.functioning__number {
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  position: relative;
  text-align: center;
  line-height: 25px;
  left: -18px;
}

@media (min-width: 1025px) {
  .functioning__content {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: 150px;
  }
  .functioning__title {
    margin-left: 189px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functioning {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .functioning__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 322px;
  }
}
.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  /**** display: none;****/
  animation: container 5s forwards;
  -webkit-animation: container 5s forwards;
}

@keyframes container {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.letter {
  color: #9356DC;
  font-size: 80px;
  letter-spacing: 15px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  70% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

.container img {
  width: 120px;
  height: 210px;
}

.pages__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.pages__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.pages__header p {
  display: flex;
  align-items: center;
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 30px;
}

.pages__header a {
  display: flex;
  align-items: center;
}

.pages__image img {
  width: 100%;
}

/**** menu ****/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #F7F7F7;
  border-radius: 40px;
  width: 100%;
}
.menu__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu__name {
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 26px;
  margin-left: 15px;
  font-weight: 400;
}

.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu__section h3 {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 15px;
  position: relative;
}

.underline-entrees {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 3px;
  position: absolute;
  top: 80px;
  left: 10px;
}

.underline-plats {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 3px;
  position: absolute;
  top: 350px;
  left: 10px;
}

.underline-desserts {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 3px;
  position: absolute;
  top: 620px;
  left: 10px;
}

.menu__section-dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 94%;
  height: 70px;
}

.menu__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.menu__dishname h4 {
  font-size: 18px;
  font-weight: 500;
}

.menu__dishname p {
  font-size: 15px;
  font-weight: 300;
}

.menu__dish {
  font-family: "Roboto";
  margin-left: 15px;
}

.menu__heart {
  font-size: 25px;
  font-weight: 200;
}

/* creation animation validation*/
.menu__section-dish:hover .menu__check {
  position: absolute;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: validation 400ms ease-out;
}

@keyframes validation {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  100% {
    transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    -ms-transform: scaleX(2);
    -o-transform: scaleX(2);
  }
}
.fa-circle-check {
  color: #99E2D0;
  background-color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__check {
  background-color: #99E2D0;
  width: 59px;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -ms-border-radius: 0px 15px 15px 0px;
  -o-border-radius: 0px 15px 15px 0px;
  display: none;
}

.menu__section-dish:hover .menu__dishdetails p {
  text-overflow: ellipsis;
  overflow: hidden;
}

/**** Layout button order ****/
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/**** animation heart ****/
.menu__heart {
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.menu__heart i {
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
