@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;

/* Layout container Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include cards-shadow;
    background-color: $color-cards;
    margin-top: 54px;
    &__title {
        font-weight: $weight-title;
        font-size: $size-title;
        width: 100%;
        margin-left: 25px;
        margin-top: 20px;
    }
}

.card__restaurants {
    width: 100%;
}

.card__content {
    margin: 18px;
    height: 251px;
    border-radius: $border-cards;
    background-color: $carte-color;
}

.card a {
    width: 90%;
    height: 231px;
    text-decoration: none;
    color: $black-color;
}
.card__image img {
    width: 100%;
    height: 200px;
    border-radius: $border-image;
    z-index: 1;
}

.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-left: 13px;
}

.card__name h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card__txt {
    font-weight: 300;
}

@media (min-width: 769px) {
    .card {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 700px;
        &__title {
            width: 100%;
        }

    }

    .card__restaurants {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 55px;
    }

    .card__restaurants a {
        width: 34%;
        margin: 20px;
        height: 251px;
    }

    .card__title {
        margin-left: 380px;
    }
}

/**** New ****/

.card__image {
    position: relative;
}

.new {
    position: absolute;
    color: $new-color;
    width: 80px;
    height: 29px;
    bottom: 150px;
    right: 40px;
    background-color: $third-color;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* animation heart */
.card__heart {
    display: flex;
    align-items: center;
    margin-right: 33px;
    & i {
        position: absolute;
    }
}  

.my-heart-full {
    transition-property: all;
    transition: all;
    transition-duration: 1s;
    opacity: 0;
    &:hover {
        display: block;
        opacity: 1;
        background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
