@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;

/* Layout functioning */
.functioning {
    @extend %flex-column-space;
    margin-top: 30px;
    &__title{
        font-size: $size-title;
        font-weight: $weight-title;
        margin-left: 20px;
    }
}

.functioning__content{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functioning__step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: $color-cards;
    width: 265px;
    margin: 25px 20px 5px 32px;
}

.functioning__subtitle {
    margin-right: 15px;
}

.functioning__icone .my-store {
    margin: 10px;
    width: 15px;
    height: 15px;
    color: $primary-color;
}

.functioning__icone .icone-menu {
    margin: 17px;
    width: 15px;
    height: 15px;
}

.functioning__number {
    border-radius: 50%;
    color: $police-color;
    font-size: 16px;
    font-weight: 500;
    background-color: $primary-color;
    width: 25px;
    height: 25px;
    position: relative;
    text-align: center;
    line-height: 25px;
    left: -18px;
}

@media (min-width: 1025px) {
    .functioning__content{
        display: flex;
        flex-direction: row;
        width: 85%;
        margin-left: 100px;
    }

    .functioning__title {
        margin-left: 189px
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .functioning{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .functioning__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 322px;
    }

}

