@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.pages__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.pages__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.pages__header p {
    display: flex;
    align-items: center;
    font-family: $title;
    font-style: italic;
    font-size: 30px;
}

.pages__header a {
    display: flex;
    align-items: center;
}

.pages__image img {
    width: 100%;
}

/**** menu ****/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: $color-cards;
    border-radius: 40px;
    width: 100%;
    &__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__name {
        font-family: $title;
        font-style: italic;
        font-size: 26px;
        margin-left: 15px;
        font-weight: 400;
    }
}

.menu__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu__section h3 {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

.underline-entrees {
    border-bottom: 3px solid $third-color;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 80px;
    left: 10px;
}

.underline-plats {
    border-bottom: 3px solid $third-color;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 350px;
    left: 10px;
}

.underline-desserts {
    border-bottom: 3px solid $third-color;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 620px;
    left: 10px;
}

.menu__section-dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $carte-color;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0, 0.1);
    margin-bottom: 10px;
    width: 94%;
    height: 70px;
}

.menu__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.menu__dishname h4{
    font-size: 18px;
    font-weight: 500;
}

.menu__dishname p {
    font-size: 15px;
    font-weight: 300;
}
.menu__dish {
    font-family: $text;
    margin-left: 15px;
}

.menu__heart {
    font-size: 25px;
    font-weight: 200;

}

/* creation animation validation*/
.menu__section-dish {
    &:hover {
        &      .menu__check {
            position: absolute;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: validation 400ms ease-out;

}
}
}

@keyframes validation {
    0% {
    transform: scaleX(0);
} 
    50% {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
}
    100% {
     transform: scaleX(2);
     -webkit-transform: scaleX(2);
     -moz-transform: scaleX(2);
     -ms-transform: scaleX(2);
     -o-transform: scaleX(2);
}
}

.fa-circle-check {
    color: $third-color;
    background-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__check {
    background-color: $third-color;
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    display: none;
}

.menu__section-dish {
    &:hover {
        &  .menu__dishdetails p{
            text-overflow: ellipsis;
            overflow: hidden;
}
}
}

/**** Layout button order ****/
button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/**** animation heart ****/
.menu__heart {
    display: flex;
    align-items: center;
    margin-right: 33px;
}

.menu__heart i {
    position: absolute;
}
